@use '../../utils/variables.scss' as v;

.header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: v.$gray-secondary;
  span {
    font-size: 25px;
  }
}
